.title {
    color: gold;
    background-color: rebeccapurple;
    font-size: 40px;
    width: 220px;
    
    
}

.paragraph {
    width: 400px
}

.square {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
}

.codeimage {
    display:inline-block
    

}

.example {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
    
    height: 800px;
}

#img {

    width: 500px
}

#a {
    background-image: url("alger.png");
    background-color: red;
    background-blend-mode: darken;
    width:400px;
    height:400px;
    border-radius: 25px;
    margin: 5px;
    
}

#b {
    background-image: url("alger.png");
    background-color: rgb(24, 216, 81);
    background-blend-mode:luminosity;
    width:400px;
    height:400px;
    border-radius: 25px;
    margin: 5px;
}

#c {

    background-image: url("alger.png");
    background-color: rgb(255, 255, 255);
    background-blend-mode:difference;
    width:400px;
    height:400px;
    border-radius: 25px;
    margin: 5px;
}

@keyframes blink {
    
    0% {
        background: rgb(238, 17, 17)
    }10% {
        background: rgb(238, 142, 17)
    }20% {
        background: rgb(238, 205, 17)
    }30% {
        background: rgb(223, 238, 17)
    }40% {
        background: rgb(87, 238, 17)
    }50% {
        background: rgb(17, 238, 183)
    }60% {
        background: rgb(17, 120, 238)
    }70% {
        background: rgb(83, 17, 238)
    }80% {
        background: rgb(201, 17, 238)
    }90% {
        background: rgb(238, 17, 164)
    }100% {
        background: rgb(238, 17, 28)
    }


    

}

@-webkit-keyframes blink {
    
    0% {
        background: rgb(238, 17, 17)
    }10% {
        background: rgb(238, 142, 17)
    }20% {
        background: rgb(238, 205, 17)
    }30% {
        background: rgb(223, 238, 17)
    }40% {
        background: rgb(87, 238, 17)
    }50% {
        background: rgb(17, 238, 183)
    }60% {
        background: rgb(17, 120, 238)
    }70% {
        background: rgb(83, 17, 238)
    }80% {
        background: rgb(201, 17, 238)
    }90% {
        background: rgb(238, 17, 164)
    }100% {
        background: rgb(238, 17, 28)
    }

    
    

}